//config
@use "variables";

//layout
@use "reboot";

@use "mixin";


@use "../components/Button/_style.scss" as button;
@use "../components/Input/_style.scss" as input;
@use "../components/AutoComplete/_style.scss" as autocomponent;
@use "../components/Upload/style" as upload